$primary-color: #e8887e;
$secondary-color: #959595;
$white-color: #fff;
$black-color: #000;
$back-color: #f8f8f8;
$divider-color: #efefef;
$text-color: #555656;
$eye-color: #71b47d;
$primary-background: #fdf6f5;
$message-back: #fcf1ef;
